.layout-bigCol {
    border-left: 1px solid rgba(100, 100, 100, 0.2);
    height: 100%;
}
.layout-container {
    height: 100vh;
}
.layout-row {
    height: 100%;
}
.layout-message {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}